In [1]:
from pymongo.mongo_client import MongoClient

In [2]:
uri = "mongodb+srv://Ajit23:Aajjiitt11@cluster0.nrcvpuc.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
#this is my database
mydb = client["mydatabase"]

In [4]:
client.list_database_names()

['admin', 'local']

In [7]:
mycol = mydb["myfristcollection"]
myfirstrecord = {"fname":"Ajit", "lname":"Sahoo", "DOB":1998, "location":"nayagarh"}

In [8]:
mycol.insert_one(myfirstrecord)

In [11]:
multiplerecords = [
    {"fname":"Lokanath", "lname":"Sahoo", "DOB":1965, "location":"Odagaon"},
    {"fname":"Basanti", "lname":"Sahoo", "DOB":1975, "location":"Bhubaneswar"},
    {"fname":"Rojalin", "lname":"Sahoo", "DOB":1995, "location":"nayagarh"},
    {"fname":"sai", "lname":"sagar", "DOB":2023, "location":"cuttack"}
]

In [12]:
mycol.insert_many(multiplerecords)

In [13]:
mycol.find_one()

{'_id': ObjectId('64ed45e38e039981ec013c66'),
 'fname': 'Ajit',
 'lname': 'Sahoo',
 'DOB': 1998,
 'location': 'nayagarh'}

In [15]:
mycol.find()
for i in mycol.find():
    print(i)

{'_id': ObjectId('64ed45e38e039981ec013c66'), 'fname': 'Ajit', 'lname': 'Sahoo', 'DOB': 1998, 'location': 'nayagarh'}
{'_id': ObjectId('64ed478e8e039981ec013c67'), 'fname': 'Lokanath', 'lname': 'Sahoo', 'DOB': 1965, 'location': 'Odagaon'}
{'_id': ObjectId('64ed478e8e039981ec013c68'), 'fname': 'Basanti', 'lname': 'Sahoo', 'DOB': 1975, 'location': 'Bhubaneswar'}
{'_id': ObjectId('64ed478e8e039981ec013c69'), 'fname': 'Rojalin', 'lname': 'Sahoo', 'DOB': 1995, 'location': 'nayagarh'}
{'_id': ObjectId('64ed478e8e039981ec013c6a'), 'fname': 'sai', 'lname': 'sagar', 'DOB': 2023, 'location': 'cuttack'}

In [16]:
mycol.find_one({"fname":"Basanti"})

{'_id': ObjectId('64ed478e8e039981ec013c68'),
 'fname': 'Basanti',
 'lname': 'Sahoo',
 'DOB': 1975,
 'location': 'Bhubaneswar'}

In [23]:
mycol.update_one({"lname":"sagar"},{"$set":{"lname":"Sahoo"}})

In [24]:
mycol.update_one({"lname": "sagar"}, {"$set": {"lname": "Sahoo"}})

In [25]:
for i in mycol.find():
    print(i)

{'_id': ObjectId('64ed45e38e039981ec013c66'), 'fname': 'Sambit'}
{'_id': ObjectId('64ed478e8e039981ec013c67'), 'fname': 'Lokanath', 'lname': 'Sahoo', 'DOB': 1965, 'location': 'Odagaon'}
{'_id': ObjectId('64ed478e8e039981ec013c68'), 'fname': 'Basanti', 'lname': 'Sahoo', 'DOB': 1975, 'location': 'Bhubaneswar'}
{'_id': ObjectId('64ed478e8e039981ec013c69'), 'fname': 'Rojalin', 'lname': 'Sahoo', 'DOB': 1995, 'location': 'nayagarh'}
{'_id': ObjectId('64ed478e8e039981ec013c6a'), 'fname': 'sai', 'lname': 'Sahoo', 'DOB': 2023, 'location': 'cuttack'}